@import 'tailwindcss';

body {
    background:
        radial-gradient(
            circle at top left,
            rgba(0, 255, 255, 0.08),
            transparent 35%
        ),
        radial-gradient(
            circle at bottom right,
            rgba(139, 92, 246, 0.1),
            transparent 35%
        ),
        #030712;

    min-height: 100vh;

    color: white;

    overflow-x: hidden;
}

#root {
    min-height: 100vh;
}

/* ORBES ATMOSFÉRICOS */

body::before,
body::after {
    content: '';

    position: fixed;

    width: 420px;
    height: 420px;

    border-radius: 9999px;

    filter: blur(120px);

    opacity: 0.18;

    z-index: -1;

    pointer-events: none;
}

body::before {
    top: -120px;
    left: -120px;

    background: #06b6d4;
}

body::after {
    bottom: -120px;
    right: -120px;

    background: #8b5cf6;
}

body {
    background:
        radial-gradient(
            circle at top left,
            rgba(56, 189, 248, 0.1),
            transparent 30%
        ),
        radial-gradient(
            circle at bottom right,
            rgba(139, 92, 246, 0.08),
            transparent 35%
        ),
        #050816;

    background-attachment: fixed;

    min-height: 100vh;

    color: white;
}

::selection {
    background: rgba(56, 189, 248, 0.25);
}
